.album-page {
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;

    .album-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: flex-start;
      padding: 2rem;

      max-width: 2200px; // ✅ 設定最大寬度來置中
      width: 100%;
      margin: 0 auto; // ✅ 水平置中整個區塊
    }

    .album-card {
      width: 200px;
      text-decoration: none;
      // color: inherit;
      // border-radius: 10px;
      overflow: hidden;
      // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .album-info {
        padding: 1rem;
        //   background: #f9f9f9;

        h3 {
          font-size: 1.1rem;
          margin: 0 0 0.5rem;
        }

        p {
          margin: 0;
          font-size: 0.9rem;
          color: #666;
        }
      }
    }
  }
}
